<div class="container">
  <div class="row">
    <div class="col-xs-3">

      <p class="post-icon">
        <%= link_to new_image_path do %>
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        <% end %>
      </p>
    </div>
    <div class="col-xs-6">
      <h3 class="delete-flash"><%= flash[:success] %></h3><br>
      <h1 class="index-title">Picture index</h1>


      <% if Image.blank? %>
        <h3>No Picture</h3>
      <% end %>
      <% @images.each do |image| %>
      <div class="post-image-box">
        <p class="user-name"><%= link_to image.user.name, "#" %></p>
        <div class="post-image">
          <%= attachment_image_tag image, :image, :fill, 500, 300 %><br>
        </div>
        <div class="icon-box">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        </div>
        <div class="delete-icon">
          <% if image.user_id == current_user.id %>
            <%= link_to image, method: :delete do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </div>
        <div class="image-text">
            <p　class="user-link"><%= link_to image.user.name, "#" %>
            <%= image.caption %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
