<!DOCTYPE html>
<html>
  <head>
    <title>Picpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav navbar-default">
        <%= link_to :images do %>
        <p class="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></p>
        <% end %><br>
        <% if user_signed_in? %>
        <h3>ログイン中</h3>
        <%= link_to "ログアウト", :destroy_user_session, method: :delete %>
        <% else %>
        <h3>未ログイン</h3>
        <%= link_to "サインアップ", :new_user_registration %>
        <%= link_to "ログイン", :user_session %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
